---
const { tag, title, description, slug, image, avatar } = Astro.props;
---

<div class="column is-4">
    <div class="card">
        <div class="card-image">
        <img src={image} alt={title} />
        </div>
        <div class="card-content">
        <div class="media is-align-items-center">
            <div class="media-left">
            <img
                class="block size-44x44 is-circle has-border filter-gray"
                src={avatar}
                alt="Avatar"
            />
            </div>
            <div class="media-content">
            <p class="subtitle rem-80 text-uppercase text-light">Policy</p>
            <p class="title is-6">{title}</p>
            </div>
        </div>

        <div class="content">
            <p class="text-medium">{description}</p>
        </div>
        <div
            class="is-flex is-align-items-center is-justify-content-space-between"
        >
            <div>
            <a class="action-link" href={`/policy/${slug}/`}>
                <span>Read More</span>
                <i class="iconify" data-icon="feather:arrow-right"></i>
            </a>
            </div>
            <div class="is-flex is-align-items-center">
            <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:eye"></i>
                <span class="ml-1">327</span>
            </div>
            <div class="mx-3"></div>
            <div class="is-flex is-align-items-center text-light">
                <i class="iconify" data-icon="feather:message-circle"></i>
                <span class="ml-1">12</span>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>